@*view where the user enters the location to be searched*@
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ITCompanyFinder</title>
</head>
<style>
    body {
       background-color : lightgrey;
    }
</style>

<body>
    <h1 align="center">
        <b>IT Company Finder</b>
    </h1>
    <form align= "center" action="SearchCompany/DisplayCompanies" method="post">

        Enter Location Here : <input id="tx_location" type="text" name="tx_location" /><br?></br?>
        <input id="bt_search" type="submit" value="Search" />
    </form>
</body>
</html>
