
@{
    Layout = null;
}

<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            &copy; 2018 Copyright IT Company Finder
            <a class="grey-text text-lighten-4 right" href="#">Tanvi Sehgal</a>
        </div>
    </div>
</footer>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script src="~/assets/js/Script.js"></script>
